@charset "UTF-8";

:root{
    --cor0 : #2574a9;
    --cor2 : #cae1f1;
    --cor3 : #b7d5eb;
    --cor4 : #c5eff7;
    

    --cor7: #127475;
    --cor8: #562C2C;
    --cor9: #BABD8D;

    --cor10:#4198FF;
    --cor11: #E7EB2C;
    --cor12:#5B4DFF;

}
<!-- /*



footer ul{
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    text-align: center;
}
footer a{
    color:black;
    
    
    border-radius: 10px;
    padding: 10px;
    border: solid 2px;
    border-color: black;
}

#imgs_footer img {
    margin: 20px;
    max-width: 110px;
    max-height: 1100px;
}*/
footer{
    background-color: var(--cor10) ;
   
    
    
}
 
footer div{
    padding: 1em;
    max-width: 1300px;
}
-->
footer div{
   
}
.divlinkfooter{ 
    display: flex;
    justify-content: space-between;
    margin: auto;
    
    
}
.linkfooter {
    display: flex;
    flex-direction: row;
}
footer h1{
    text-align: center;
}
footer ul{
    margin : 20px;
}
footer li{
    margin: 5px 0px;
}
footer a{
    color: white;
}
footer img{
    margin: 15px;
    max-width: 400px;
    max-height: 90px;
    max-height: 600px;
}

#agrad {
    margin: auto;
}
.agradecimento{
    margin: auto;
    margin-bottom: 15px;
    max-width: 700px;
    color: var(--cor2);
    text-align: center;
}

#imglogo-IF{
    border: 1px ;
    float: left;
    margin: 10px;
    overflow: hidden;
    height: 100%;
    width: 100%;
     
} 
   
@media (max-width: 750px){
    #imglogo-IF{
        
    }
    .divlinkfooter{
        flex-direction: column;
    }

}